# Numerator API
TMDB_API_URL=TMDB_API_URL
TMDB_API_ACCESS_TOKEN=TMDB_API_ACCESS_TOKEN

REDIS_URL="REDIS_URL_UPTASH"

SPRING_DATA_REDIS_HOST_DEV=REDIS_HOST_DEV
SPRING_DATA_REDIS_PORT_DEV=REDIS_PORT_DEV
SPRING_DATA_REDIS_USERNAME_DEV=REDIS_USERNAME_DEV
SPRING_DATA_REDIS_PASSWORD_DEV=REDIS_PASSWORD_DEV
SPRING_DATA_REDIS_DATABASE_DEV=0
SPRING_DATA_REDIS_TIMEOUT_DEV=5000
SPRING_DATA_REDIS_SSL_ENABLED_DEV=true
SPRING_DATA_REDIS_CLIENT_NAME_DEV=REDIS_CLIENT_NAME_DEV
SPRING_DATA_REDIS_LETTUCE_POOL_MAX_ACTIVE_DEV=8
SPRING_DATA_REDIS_LETTUCE_POOL_MAX_IDLE_DEV=8
SPRING_DATA_REDIS_LETTUCE_POOL_MIN_IDLE_DEV=2
SPRING_DATA_REDIS_LETTUCE_POOL_MAX_WAIT_DEV=3000ms